@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --hue-color: 206;
  --black-color: hsl(var(--hue-color), 4%, 4%);
  --black-color-alt: hsl(var(--hue-color), 4%, 8%);
  --title-color: hsl(var(--hue-color), 4%, 95%);
  --text-color: hsl(var(--hue-color), 4%, 75%);
  --text-color-light: hsl(var(--hue-color), 4%, 65%);
  --white-color: #ffff;
  --body-color: hsl(var(--hue-color), 4%, 6%);
  --text-gradient: linear-gradient(
    hsl(var(--hue-color), 4%, 24%),
    hsl(var(--hue-color), 4%, 8%)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

button,
input {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 4rem 0 2rem;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 100;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 2.2rem 6rem;
}

#nav-logo {
  width: 1.8rem;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3.5rem;
  text-transform: uppercase;
}

.nav-link {
  font-size: var(--h2-font-size);
  text-transform: uppercase;
  font-weight: 600;
  background: var(--text-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 0.4s;
}

.nav-link:hover {
  background: var(--white-color);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.active-link {
  background: var(--white-color);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.home {
  padding: 0 0 2rem;
  margin-top: -4rem;
}

.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  column-gap: 5rem;
  max-height: 100vh;
}

.home-img {
  width: 34rem;
}

.home-right-info {
  margin-top: 8rem;
}

.home-header {
  position: relative;
}

.home-title {
  position: absolute;
  top: -4rem;
  left: 4rem;
  line-height: 6rem;
  font-size: 7.5rem;
  background: var(--text-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.home-subtitle {
  font-size: 4rem;
  margin-bottom: 2.5rem;
}

.home-title-description {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.home-description {
  margin-bottom: 2.5rem;
  line-height: 2rem;
}

.home-price {
  font-size: var(--h3-font-size);
  font-weight: 600;
  margin-left: .65rem;
  font-size: 1.3rem;
}

.button-add {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  background-color: black;
  background-color: var(--black-color);
  color: var(--white-color);
  padding: .9rem 1rem;
  border-radius: 0.5rem;
}

.button-add img {
  margin-right: .5rem;
}

.redirect {
  font-weight: 700;
  font-size: 1.15rem;
}